body {
    font-family: "helvetica";
    background-color: rgba(0,0,0,.1);
}

button {
    margin: 0 7px 0 0;
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    padding: 4px 15px;

    font-size: 12px;
    line-height: 130%;
    text-decoration: none;
    font-weight: bold;
    color: #565656;
    cursor: pointer;
}

.deviceTitle{
  text-align: center;
}



.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line{
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}


.trend{
    fill: none;
    stroke: green;
    stroke-width: 2;
}

.mean{
    fill: none;
    stroke: red;
    stroke-width: 2;
}


.pie text{
    fill: black;
    font-weight: bold;
}

.axis text {
    font: 10px sans-serif;
}

.dateRangeContainer{
    width: 1200px;
    text-align: right;
}

.extraLineContainer{
    width: 1200px;
    text-align: right;
}

.pieChartContainer{
  margin-left: 800px;
  display: inline-block;
  text-align: right;
}

.genderCount{
    float: left;
    display: inline-block;
}

.extraLineContainer button{
   background-color: rgb(140, 213, 140);
}

